body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Custom Styles*/
.wbdv-sticky-navbar {
  padding: 10px;
}

.wbdv-sticky-navbar .wbdv-navbar-title {
  font-size: 20px;
  font-weight: normal;
  color: orange;
}

.wbdv-add-course-btn {
  color: red;
}

.wbdv-update-course-btn {
  color: green;
}

.wbdv-delete-course-btn {
  color: red;
}

.nav-pills .nav-link.active {
  /*background-color: orange;*/
  --bs-nav-pills-link-active-bg: #0d6efdab;
}

.list-group .list-group-item.active {
  background-color: #0d6efdd9;
}